
.body{
    font-family: sans-serif, monospace, cursive, fantasy;
    width: 1000px;
    padding-left: 100px;
    font-family:'Nunito sans';
}

h4{
    padding-top: 50;
}

h2{
    padding-top: 50;
}

.container{
    display: flex;
    flex-direction: row;
}

.container0{
    display: flex;
    flex-direction: row;
    padding-top: 50; 
    justify-content: space-between;
}

.item1{
    flex: 3;  
    font-size: large;
}

.item2{
    width: 100px;
}

.item3{
    width: 100px;
}

.item4{
    width: 100px;
}

.item5{
    width: 100px;
}

.text1{
    width: 700px;
}

.text2{
    margin: 50px;
    padding-left: 50;
}

.text3{
    margin: 50px;
    padding-right: 50;
}

.text4{
    padding-top: 50; 
    padding-left: 50;
}

.text5{
    padding-top: 55;
}

.text6{
    padding-top: 10;
}

.image1{
    padding-top: 50;
}

.image3{
    justify-content: end;  
}

.image5{
    flex-direction: row;
    margin: 10px;
    display: flex;
}

.image6{
    margin: 10px;
}

.image7{ 
    margin: 10px;
}

.image8{  
    margin: 10px;
}

.image9{
    padding-left: 40;
}

.text9{
    padding-top: 50;   
}

.containerFooter{
    display: flex;
    width: 100%;
    margin-left: 500px;
}

footer{
    background-color: rgb(196, 196, 196);
}

.button{
    background-color: rgb(236, 101, 146);
    width: 150px;  
    height: 40px;
    border-radius: 6px;
    color: white;
}

.buttonEnroll{
    background-color: rgb(236, 101, 146);
    width: 150px;  
    height: 40px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 5mm;
    color: white;
}

.container1{
    background-color: rgb(245, 239, 239);
    text-align: center;
    align-items: center;
    width: 1000px;
    height: 100px;
}

.fleximages{
    flex-direction: row;
    display: flex;
    width: 50px;
}

.flexbox1{
    flex-direction: row;
    display: flex;
}

.infoflex1{
    background-color: rgb(223, 223, 223);
}

.infoflex2{
    background-color: rgb(199, 199, 199);
    margin-left: 20px;
}

.infoflex3{
    background-color: rgb(190, 190, 190);
    margin-left: 20px;
}

.infoflex4{
    background-color: rgb(189, 189, 189);
    margin-left: 20px;
}

.proffesion{
    color: #EC4067;

}

.aboutproffesion{
    font-size: small;
}

.askbutton{
    background-color: #EC4067;
    color: white;
    height: 30px;
}

.item1{
    width: 100px;
    padding: 30;
}

.item2{
    width: 100px;
    padding: 30;
}

.item3{
    width: 100px;
    padding: 30;
}

.item4{
    width: 100px;
    padding: 30;
}
